.overview-section {
    width:100%;
    height: 100vh;
    padding:2.5%;
    text-align: center;
}
.overview-section h1 {
    padding: 2% 0;
    font-size: 200%;
    text-transform: uppercase;
    color: var(--opposite);
}
.overview-section div {
    height: 90vh;
    display: grid;
    grid: auto auto auto / auto auto auto auto ;
}
.overview-section div button, .overview-section div button.active {
    width:70%;
    font-weight: 700;
    font-size: 250%;
    color: var(--opposite);
    background-color: var(--lowlight);
    border-radius: 10px;
    border: 3px solid var(--highlight);
    margin-bottom:10%;
}
.overview-section div button:hover {
    color: var(--primary);
    background-color: var(--highlight);
    border: 3px solid var(--lowlight);
}
.overview-section div button.disabled {
    color: var(--extra);
    background-color: var(--muted);
    border: 3px solid var(--extra);
}