:root {
  --cardLight:#eceaf5;
  /* --cardDark:  */
  --lightBackground: #a39dab;
  --primary: whitesmoke;
  --lowlight:#8a41f1 ;
  --highlight:#391375;
  --opposite: #dfea7b;
  --light: #7b24ee;
  --muted: #87776d;
  --extra: #433c31;
  --dark:#140f0b;
}
[data-theme = 'light'] {
  --background: var(--primary);
  --primary-text: var(--highlight);
  --secondary-text: var(--muted);
  --accent-color: var(--lowlight);
  --extra-accent-color: var(--extra);
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
[data-theme = 'dark'] {
  --background: var(--dark);
  --primary-text: var(--opposite);
  --secondary-text: var(--muted);
  --accent-color: var(--light);
  --extra-accent-color: var(--extra);
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
[data-theme = 'sea'] {
  --background: var(--lowlight);
  --primary-text: var(--highlight);
  --secondary-text: var(--muted);
  --accent-color: var(--opposite);
  --extra-accent-color: var(--extra);
  --box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.3); 
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
a {
  text-decoration: none;
  color: #140f0b;
}
.box-shadow {
  box-shadow: var(--box-shadow)
}
main {
  background-color: var(--lightBackground);
  color: var(--primary-text);
}
button {
  border: 1px solid transparent;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
  margin: 2%;
  padding:1% 2%;
  border-radius: 25px;
  transition: all ease-in-out 0.5s;
}
button:hover {
  border: 1px solid black;
  box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.5);
}
.fullpage{
  height: 100vh;
}